
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-fcc:before { content: '\e803'; } /* '' */
.icon-telegram_logo:before { content: '\e804'; } /* '' */